// Recommendations from noctalia docs.
window-rule {
  geometry-corner-radius 10

  clip-to-geometry true
}

// Recommendations from noctalia docs.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
  draw-border-with-background false
  match app-id="com.mitchellh.ghostty"
  opacity 0.90
  background-effect {
    blur true
    xray true
  }
}

window-rule {
  match app-id="dev.zed.Zed"
  draw-border-with-background false
  opacity 0.90
  background-effect {
    blur true
    xray true
  }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|panel|attached-panel|osd)$"
  background-effect {
    blur true
    xray false
  }
}
