window-rule {
  draw-border-with-background false
  match app-id="com.mitchellh.ghostty"
  opacity 0.90
  background-effect {
    blur true
    xray true
  }
}

window-rule {
  match app-id="dev.zed.Zed"
  draw-border-with-background false
  opacity 0.90
  background-effect {
    blur true
    xray true
  }
}
